@inherits LayoutComponentBase

<div class="chat-layout-container">
    <div class="chat-window">
        @Body
    </div>
</div>

<script src="_framework/blazor.server.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>

<link href="css/app.css" rel="stylesheet" />

@inject NavigationManager NavigationManager


