@page "/VerbDetails"
@inject NnetDbContext db
@inject NavigationManager _nav
@inject IConfiguration _config
@inject VerbService verbService
@layout CustomLayout
@using IntelChat.Models;
@using IntelChat.Services;
@using System.Data.SqlClient;
@using System.Data;

<style>
	body {
		background-size: 1400px 788px;
		background-color: #111111;
		background-position: left 0px top 0px;
		opacity: 100%;
		color: White;
	}
</style>

<div class="verb-details">
    <h4 style="
		top: 38px;
		left: 1120px;
		position: absolute">
        P.O.D.# @pod
    </h4>
    <h4 style="
		top: 69px;
		left: 1120px;
		position: absolute">
        Person ID: @pid
    </h4>
	<!-- *********************************************************************************** -->
	<!-- ************************  NEXT - PREVIOUS - PAGEback (EXIT) ************************ -->
	<!-- ************************************************************************************ -->

	<div class="exhibitInfo">
		<label>
			id:
			<input class="form-control" @bind="currentVerb.VerbId" type="number" readonly="readonly" />
		</label><br><br>

		<label>
			label:
			<input class="form-control" @bind="currentVerb.VerbLabel" maxlength="16" readonly="readonly" />
		</label><br><br>

		<label>
			description:
			<input class="form-control" @bind="currentVerb.VerbDescription" maxlength="255" readonly="readonly" />
		</label><br><br>

		<label>
			PypeType:
			<input class="form-control" @bind="currentVerb.VerbType" maxlength="255" readonly="readonly" />
		</label><br><br>

		<label>
			status:
			<input class="form-control" @bind="currentVerb.VerbStatus" maxlength="1" readonly="readonly" />
		</label><br><br>

		<label>
			image:
			<input class="form-control" @bind="currentVerb.UrlIdPk" type="number" readonly="readonly" />
		</label><br><br>
	</div>

	<button style="
		width:150px;
        height:80px;
        top:680px;
		left:100px;
		background-color: #FFFFFF;
		opacity: 20%;
		border-radius:8px;"
			@onclick="Previous">
		Previous
	</button>

	<button style="
		width:150px;
        height:80px;
        top:680px;
		left:1150px;
		background-color:white;
		opacity: 20%;
		border-radius:8px;"
			@onclick="Next">
		Next
	</button>

	<button style="
		width:80px;
        height:80px;
        top:580px;
		left:1180px;
		background-color:white;
		opacity: 20%;
		border-radius:8px;"
			@onclick="@(() => _nav.NavigateTo(prevPage+"?pod="+pod+"&pid="+pid))">
		EXIT
	</button>
</div>


