@page "/Login"
@using IntelChat.Models;
@using Microsoft.AspNetCore.Components;
@model IntelChat.Pages.LoginModel
@inject NnetDbContext db;
@inject NavigationManager _nav;
@inject IConfiguration _config;
@using Microsoft.AspNetCore.Identity;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["pod"] = 3;
	ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>
<div class="row" style="margin:50px">
	<div class="col-md-4">
		<section>
			<form id="account" method="post">
				<h2>Login to an Intel-a-Chat Account</h2>
				Fields marked * are required
				<hr />
				<input asp-for="Input.Pod" class="form-control" aria-required="true" maxlength="32" value="@ViewData["pod"]" hidden />
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-floating" style="margin:10px">
					<label asp-for="Input.Username" class="form-label">Username *</label><br />
					<input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" />
				</div>
				<div class="form-floating" style="margin:10px">
					<label asp-for="Input.Password" class="form-label">Password *</label><br />
					<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
				</div>
				<div style="margin:10px">
					<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Login</button><br /><br />
					<a href="/Recovery/Email">Recover your account</a>
					@if (Convert.ToBoolean(@ViewData["Error"]) == true)
					{
						<p style="color: #FF0000">Login Failed!</p>
					}
				</div>
			</form>
			
		</section>
	</div>
</div>