@page "/Audio"
<style>
	button {
		padding: 0;
		margin: 0;
		width: 200px;
		height: 100px;
		text-align: center;
		top: 100px;
		color: black;
		background-color: pink;
		border-radius: 24px;
		position: absolute;
		left: 210px;
		opacity: 100%;
		transition-duration: .60s;
	}

	.buttonA {
		background-image: url("https://intelchatstorage.blob.core.windows.net/buttonscontainer/btnArtifactA.png");
		background-size: cover;
		box-shadow: 0 30px 60px rgba(0,0,0,.5);
	}

	.buttonA:hover {
		box-shadow: 0 5px 10px rgba(0,0,0,.5);
		transform: scale(.95);
	}
</style>


<div class="audio-page">
    <h3>Demonstration Jukebox Audio</h3>

    <div>
        <audio controls="controls">
            <source src="/Blobs/Audio/Ripingtons.mp3" />
        </audio>
    </div>

    <a href="https://radio.garden/listen/heavy1/rH122vcl">
        <button class="world-radio-button">World Radio</button>
    </a>

</div>

