@page "/Clock"
<PageTitle>Analog Clock Page</PageTitle>

<div class="clock-panel" style="background-image: url('remote.png');">
    <AnalogClock />
</div>

<style>
    .clock-panel {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
</style>