@page "/showpage"

@using Microsoft.AspNetCore.Components
@layout BluRayLayout

<style>
    .bluray-page {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        margin:0px;
        border:0PX;
        padding:0px;
    }

    .toggle-button {
        position: absolute;
        top:20px;
        left:20px;
        margin: 20px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

    .engineer-page {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .engineer-iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
</style>

<PageTitle>Show Page</PageTitle>

<div class="bluray-page">
    <button @onclick="ToggleEngineerPage" class="toggle-button"
        style="z-index:2;position: absolute; top:0px;left:0px;width:180px;height:40px; color:grey; opacity:100%">
        Toggle Engineer
    </button>

    @if (isEngineerPageOpen)
    {
        <div class="bluray-page"
             style="z-index:0;position: absolute; top:00px;left:00px;width:1920px;height:10800px; color:grey; opacity:100%">
            <iframe src="Engineer" class="engineer-iframe"></iframe>
        </div>
    }
</div>

@code {
    private bool isEngineerPageOpen = false;

    private void ToggleEngineerPage()
    {
        isEngineerPageOpen = !isEngineerPageOpen;
    }
}

<!-- ************************************************************************************ -->
<!-- ********************************* TOGGLE MEMO Panel ******************************** -->
<!-- ************************************************************************************ -->


<div class="bluray-page">
    <button @onclick="ToggleMemoPage" class="toggle-button"
            style="position:absolute;top:1020px;left:10px;width:148px;height:48px; color:grey; opacity:100%">
        toggle MEMO
    </button>

    @if (isMemoPageOpen)
    {
        <div class="memo-page" style="z-index:1; position:absolute;bottom:10px;left:200px;width:1200px;height:280px; opacity:70%">
            <iframe src="CommMemo" class="memo-iframe"></iframe>
        </div>
    }
</div>
<!-- ********************************* TOGGLE MEMO Panel ******************************* -->
@code {
    private bool isMemoPageOpen = false;

    private void ToggleMemoPage()
    {
        isMemoPageOpen = !isMemoPageOpen;
    }
}

	<!-- ************************************************************************************ -->
	<!-- ********************************* Display CHAT Panel ******************************* -->
	<!-- ************************************************** (css) .engineer-page ************ -->
	<div class="bluray-page">
		<button @onclick="ToggleChatPage" class="toggle-button"
				style="top:960px;left:10px;width:148px;height:48px; opacity:100%">
			toggle CHAT
		</button>

		@if (isChatPageOpen)
		{
			<div class="chat-page" style="z-index:1;position:absolute;top:0px;right:10px;width:520px;height:1060px; opacity:70%">
				<iframe src="Chat" class="chat-iframe"></iframe>
			</div>
		}
	</div>
	<!-- ********************************* Display CHAT Panel ******************************* -->
	@code {
		private bool isChatPageOpen = false;

		private void ToggleChatPage()
		{
			isChatPageOpen = !isChatPageOpen;
		}
	}


<!-- ************************************************************************************ -->
<!-- ********************************* Display TouTube Video **************************** -->
<!-- ************************************************************************************ -->


@* <div>
    style="top:10px; left:222px; position:absolute; overflow:hidden;brightness(80%);opacity:80% ">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/HexmEkw-Ph4"
            title="Enya - Orinoco Flow 2023 - Remixed by Don Pelletier" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
 *@

