@page "/Aficionado"
@inject NnetDbContext db            // Inject the ServerDbContext service for database access
@inject NavigationManager _nav
@layout CustomLayout
@using IntelChat.Models
@using System.Data.SqlClient;
@using System.Data;


<style>
	body {
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Aficionado.png") no-repeat;
		background-size: 1920px 1080px;
		background-position: left 0px top 0px;
		opacity: 100%;
		min-height: 100vh;
		width: 100%;
		color: blanchedalmond;
		background-color:antiquewhite
	}
</style>

<div class="engineer-page">
@code {

}
</div>