@page "/Community"
@model IntelChat.Pages.Page_CommunityModel
@using IntelChat.Models;
@using Microsoft.AspNetCore.Components;
@inject NnetDbContext db;
@inject NavigationManager _nav;
@inject IConfiguration _config;
@using Microsoft.AspNetCore.Identity;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<style>
	body {
		background: url("https://agineuralnet.blob.core.windows.net/background/BG_Community.png") no-repeat;
		background-size: 1920px 1080px;
		background-position: left 0px top 0px;
		background-color: #000000;
		color: white;
		opacity: 100%;
		width: 1920px;
		height: 1080px;
		font-size: 18px;
	}

	button {
		opacity: 0%;
		border: 0px;
		border-radius: 15px;
		font-size: 0;
	}

	button:hover {
		opacity: 20%;
		filter: brightness(100%);
	}
</style>



<!-- ************************************************************************************ -->
<!-- ******************** Select PERSON (USER & ROLE) from DropDown ********************* -->
<!-- ************************************************************************************ -->

<form id="registration" method="post">
	<select input asp-for="Input.Member" asp-items="@Model.memberDescriptions"
			style="position:absolute;top:390px;left:140px;width:500px;max-height;20px;:90px;font-size:28px;color:darkred;background-color:darkgray" required></select>

<!-- ******************** RETURN to MENU with selected USER ***************************** -->
	<button type="submit" style="position:absolute;top:860px;left:164px;width:460px;height:110px">RETURN</button>
</form>
