using Microsoft.AspNetCore.Components;
using Microsoft.AspNetCore.Components.Web;

@page "/drag-image"

<h3>Draggable Image Example</h3>

<button @onclick="OpenImage">Open Image</button>
<button @onclick="CloseImage">Close Image</button>

@if (isImageVisible)
{
    <div @onmousemove="OnMouseMove" style="position: relative; height: 800px; width: 100%; border: 1px solid black;">
        <img src="images/remote.png" alt="Remote"
             style="position: absolute; top: @(imagePosition.Y)px; left: @(imagePosition.X)px; width: 260px; height: 700px; cursor: move;"
             @onmousedown="StartDragging"
             @onmouseup="StopDragging" />
        <div>Position: X = @(imagePosition.X), Y = @(imagePosition.Y)</div>
    </div>
}

@code {
    private bool isImageVisible = false;
    private bool isDragging = false;
    private (int X, int Y) imagePosition = (100, 100);
    private (int X, int Y) mouseStart = (0, 0);

    private void OpenImage()
    {
        isImageVisible = true;
    }

    private void CloseImage()
    {
        isImageVisible = false;
    }

    private void StartDragging(MouseEventArgs e)
    {
        isDragging = true;
        mouseStart = ((int)e.ClientX, (int)e.ClientY);
    }

    private void StopDragging(MouseEventArgs e)
    {
        isDragging = false;
    }

    private void OnMouseMove(MouseEventArgs e)
    {
        if (isDragging)
        {
            var deltaX = (int)e.ClientX - mouseStart.X;
            var deltaY = (int)e.ClientY - mouseStart.Y;

            imagePosition = (imagePosition.X + deltaX, imagePosition.Y + deltaY);
            mouseStart = ((int)e.ClientX, (int)e.ClientY);
        }
    }
}
