@page "/recipe"

<!DOCTYPE html>

<!-- BG Image Text -->
<meta name="BlockAmber"  />
<html lang="en">
<head>
    <meta charset=utf-8 />
    <title>
      Julian Oana - Recipes
    </title>
    
<style>
* {
	padding:0;
	margin:0;
	}

body{
	background-image:url(Images/BG/Custom_Page.png); 
    background-size: 1200px 800px;
    background-position:left 200px top 56px;
    background-repeat:no-repeat;
	opacity:100%;
	color:black;
    background-color: forestgreen;
	}

h1{
text-align: center;
}

boxjulian{
    width:700px;
	height:450px;
	text-align: right;
	top:800px;
	color:#FF0000;
	background-color:pink;
	position:absolute;
	left:0px;
	opacity:20%;
	background-image:url("Images/Guides/Julian_Oana.png"); 
	background-size: cover;
	}

/*a{color:none;}
a:hover{color:red;}
*/

button{
    width:200px;
	height:100px;
	top:120px;
	left:700px;
	color:#FF0000;
	background-color:pink;
	border-radius:24px;
	position:absolute;
	opacity:90%;
	transition-duration:.60s;
	background-image:url("Images/buttons/btn_Lascaux.png"); 
	background-size: cover;
	text-align: center;
	}

.buttonA{
	top:140px;
			background-image: url("Images/buttons/btn_Lascaux.png");
			background-size: cover;
	box-shadow: 0 30px 60px rgba(0,0,0,.5);
	}
.buttonA:hover{
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
	transform: scale(.95);
	}

.buttonC{
	top:260px;
			background-image: url("Images/buttons/btn_Lascaux.png");
			background-size: cover;
	box-shadow: 0 30px 60px rgba(0,0,0,.5);
	}
.buttonC:hover{
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
	transform: scale(.95);
	}

.buttonD{
	top:380px;
	background-image:url("Images/buttons/btnArtifactD.png");
			background-size: cover;
			url("Images/buttons/btn_Lascaux.png");
	box-shadow: 0 30px 60px rgba(0,0,0,.5);
	}
.buttonD:hover{
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
	transform: scale(.95);
	}

.buttonL{
	top:500px;
			background-image: url("Images/buttons/btn_Lascaux.png");
	background-size: cover;
	box-shadow: 0 30px 60px rgba(0,0,0,.5);
	}
.buttonL:hover{
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
	transform: scale(.95);
	}

.button5{
	top:620px;
			background-image: url("Images/buttons/btn_Lascaux.png");
	box-shadow: 0 30px 60px rgba(0,0,0,.5);
	}
.button5:hover{
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
	transform: scale(.95);
	}

.button6{
	top:900px;
	background-image:url("Images/buttons/btnJulian6.png"); 
	background-size: cover;
	box-shadow: 0 30px 60px rgba(0,0,0,.5);
	}
.button6:hover{
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
	transform: scale(.95);
	}

</style>
    
</head>

<body>
<h1> Pod #3 (Task 17) Julian Oana's Recipes (6 steps)  </h1>


<img src="/Images/Guides/Julian_Oana.png"  />


<a href="https://www.youtube.com/watch?v=_w6N_nplmAw">
	<button class="button buttonA">
	</button>
</a>

<a href="https://www.youtube.com/watch?v=BFBq9AxWMOg/">
	<button class="button buttonC">
	</button>
	</a>

<a href="https://www.youtube.com/watch?v=dZsZBKcM6xk&list=PL1EYnCfHLswwTsd1kNufVbjvpGLRCDf0H/">
	<button class="button buttonD">
	</button>
	</a>

<a href="https://www.youtube.com/watch?v=zqlKn9yHPpc">
	<button class="button buttonL">
	</button>
	</a>

<a href="https://www.youtube.com/watch?v=6LA5Pu_is4w">
	<button class="button button5">
	</button>
	</a>

<a href="https://www.youtube.com/watch?v=ZF_A2xZbhb8&t=5s/">
	<button class="button button5">
	</button>
	</a>




	<div href="https://www.youtube.com/watch?v=_w6N_nplmAw">
		<button class="button button6">
		</button>
	</div>

    <!-- ********************************************************************* -->
    <!-- ***************** VIDEO - Richard Feynman *************************** -->
    <!-- ********************************************************************* -->
	<div href="https://www.youtube.com/watch?v=https://www.youtube.com/watch?v=zesyeIvbjLQ&list=PLS3_1JNX8dEh5YcO-Y05stU0u_T9nqIlF&index=2">
		<button class="button button6">
		</button>
	</div>


</body>
</html>