@page "/forgot"
<PageTitle>Forgot Password</PageTitle>


<head>
	<link rel="stylesheet" type="text/css" href="style.razor.css">
</head>

<form class="form" action="reset.html">
	<h1>Forgot Password?</h1>
	<input type="email" name="email" placeholder="Enter your email" required>
	<input type="submit" name="submit" value="Reset Password">
	<hr>
	<div class="exit">
		<a href="login.html" class="create-account">Exit</a>
	</div>
</form>
	
