@model IntelChat.Models.Brand

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Brand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Brandid" />
            <div class="form-group">
                <label asp-for="BrandLink" class="control-label"></label>
                <input asp-for="BrandLink" class="form-control" />
                <span asp-validation-for="BrandLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandName" class="control-label"></label>
                <input asp-for="BrandName" class="form-control" />
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandImage" class="control-label"></label>
                <input asp-for="BrandImage" class="form-control" />
                <span asp-validation-for="BrandImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChannelAlpha" class="control-label"></label>
                <input asp-for="ChannelAlpha" class="form-control" />
                <span asp-validation-for="ChannelAlpha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChannelBeta" class="control-label"></label>
                <input asp-for="ChannelBeta" class="form-control" />
                <span asp-validation-for="ChannelBeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChannelGamma" class="control-label"></label>
                <input asp-for="ChannelGamma" class="form-control" />
                <span asp-validation-for="ChannelGamma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CntMax" class="control-label"></label>
                <input asp-for="CntMax" class="form-control" />
                <span asp-validation-for="CntMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CntReg" class="control-label"></label>
                <input asp-for="CntReg" class="form-control" />
                <span asp-validation-for="CntReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eligibility" class="control-label"></label>
                <input asp-for="Eligibility" class="form-control" />
                <span asp-validation-for="Eligibility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegDateClosed" class="control-label"></label>
                <input asp-for="RegDateClosed" class="form-control" />
                <span asp-validation-for="RegDateClosed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActiveGuideId" class="control-label"></label>
                <input asp-for="ActiveGuideId" class="form-control" />
                <span asp-validation-for="ActiveGuideId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramId" class="control-label"></label>
                <input asp-for="ProgramId" class="form-control" />
                <span asp-validation-for="ProgramId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <input asp-for="LocationId" class="form-control" />
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuLock" class="control-label"></label>
                <input asp-for="MenuLock" class="form-control" />
                <span asp-validation-for="MenuLock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScopeLock" class="control-label"></label>
                <input asp-for="ScopeLock" class="form-control" />
                <span asp-validation-for="ScopeLock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <select asp-for="PersonId" class="form-control" asp-items="ViewBag.PersonId"></select>
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
