body,html {
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding if needed */
}


/* ****************************************************** CFG ...NOUN LIST ROWS on Shadow PANEL ************ */
.crud-page .exhibitPanel {
    position: absolute;
    top: 336px;
    max-height: 740px;
    left: 340px;
    color: blanchedalmond;
    width: 800px;
    font-size: x-large;
    /*text-overflow: ellipsis;*/
    white-space: nowrap;
    overflow-x: auto;
}



/* ************************************************************* exhibit main CRUD text ********* */
.crud-page .exhibitInfo {
    position: absolute;
    top: 370px;
    left: 340px;
    color: blanchedalmond;
    width: 800px;
    height: 740px;
    font-size: x-large;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.crud-page .exhibitInfo2 {
    position: absolute;
    top: 410px;
    left: 740px;
    color: blanchedalmond;
    width: 400px;
    height: 700px;
    font-size: x-large;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}




/*.crud-details .exhibitPanel {
    position: absolute;
    top: 370px;
    left: 500px;
    color: black;
    width: 540px;
    font-size: x-large;
    text-overflow: ellipsis;*/
    /* Required for text-overflow to do anything */
    /*white-space: nowrap;
    overflow: hidden;
}

.crud-details .exhibitInfo {
    position: absolute;
    top: 50px;
    left: 350px;
    color: blanchedalmond;
    width: 540px;
    height: 700px;
    font-size: x-large;
    text-overflow: ellipsis;*/
    /* Required for text-overflow to do anything */
    /*white-space: nowrap;
    overflow: hidden;
}*/




.crud-page #img-panel-marque {
    content: url(https://agineuralnet.blob.core.windows.net/panels/Panel_Marque.png);
    position: absolute;
    top: 90px;
    left: 600px;
    width: 580px;
    border-radius: 0px;
    background-size: cover;
}

.crud-page #img-panel-fluer {
    content: url(https://agineuralnet.blob.core.windows.net/panels/Panel_Fluer.png);
    position: absolute;
    top: 150px;
    left: 1310px;
    width: 188px;
    border-radius: 8px;
    background-size: cover;
}

.crud-page .boxButton {
    padding: 0;
    margin: 0;
    width: 1000px;
    height: 100px;
    text-align: right;
    top: 90px;
    left: 600px;
    color: #FF0000;
    position: absolute;
    opacity: 100%;
    background-image: url("../images/GUI/DC_GUI_user_Direction.png"); /*missing resource*/
    background-size: cover;
}

.crud-page button {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 180px;
    height: 90px;
    top: 76px;
    left: 0px;
    border-radius: 8px;
    transition-duration: .60s;
    color: black;
    background-color: limegreen;
    text-align: center;
    opacity: 100%;
}

.crud-page #img-panel-shadow-black {
    border-radius: 12px;
    background-size: cover;
    height: 700px;
    width: 850px;
}








.crud-page .Shadow {
    position: absolute;
    top: 120px;
    left: 1520px;
    width: 250px;
    height: 920px;
    background-color: grey background-size: cover;
    border-radius: 12px;
    opacity: 95%;
}

/* ************************************************************* CFG main shadow for LISTS ********* */
.crud-page .ShadowText {
    position: absolute;
    top: 320px;
    left: 304px;
    width: 850px;
    height: 700px;
    background-color: grey background-size: cover;
    border-radius: 12px;
    opacity: 95%;
}

/* ********************************************************** CFG change or create COMMIT BOX ********* */
.crud-page .boxFilter {
    margin: 10;
    position: absolute;
    top: 500px;
    left: 1230px;
    background-color: bisque border-radius: 12px;
    opacity: 85%;
    width: 220px;
    height: 360px;
    background-image: url("https://intelchatstorage.blob.core.windows.net/uipanelscontainer/Panel_Commit.png");
}

.crud-page .ListFilter {
    margin: 0;
    position: absolute;
    top: 0px;
    left: 470px;
    color: blanchedalmond;
    background-color: bisque border-radius: 12px;
    opacity: 55%;
    width: 160px;
    height: 200px;
    font-size: x-large;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}


/*
    ************************************************************************   .crud-page  ==>  .crud-page
    ************************************************************************   .crud-page  ==>  .crud-page
    ************************************************************************   .crud-page  ==>  .crud-page
*/

.crud-page .boxButton {
    padding: 0;
    margin: 0;
    width: 1000px;
    height: 100px;
    text-align: right;
    top: 90px;
    left: 600px;
    color: #FF0000;
    position: absolute;
    opacity: 100%;
    background-image: url("../images/GUI/DC_GUI_user_Direction.png"); /*missing resource*/
    background-size: cover;
}

.crud-page button {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 180px;
    height: 90px;
    top: 76px;
    left: 0px;
    border-radius: 8px;
    transition-duration: .60s;
    color: black;
    background-color: limegreen;
    text-align: center;
    opacity: 100%;
}




/*********** Common Styles for Input Boxes ***************/
.crud-page .FilterInput {
    width: 155px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: antiquewhite;
    border-radius: 4px; /* Rounded edges */
    text-align: center;
    box-sizing: border-box; /* Ensures consistent dimensions including padding and borders */
}

/*********** Positioning for Direct Select ***************/
.crud-page .DirectSelect {
    position: absolute;
    top: 355px; /* Positioned below TagFilter */
    right: 425px;
}

/*********** Positioning for Tag Filter ***************/
.crud-page .TagFilter {
    position: absolute;
    top: 405px; /* Adjust this to place it above DirectSelect */
    right: 425px;
    opacity: 1;
}











.crud-page #btn-panel-list {
    left: 10px;
    opacity: 90%;
    background-image: url("https://agineuralnet.blob.core.windows.net/buttons/Button_L.png");
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
    filter: brightness(80%);
}

#btn-panel-list:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    transform: scale(.85);
    filter: brightness(100%);
}
.crud-page #btn-panel-add {
    background-image: url("https://agineuralnet.blob.core.windows.net/buttons/Button_A.png");
    background-size: cover;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
    left: 202px;
    filter: brightness(80%);
}

#btn-panel-add:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    transform: scale(.85);
    filter: brightness(100%);
}

.crud-page #btn-panel-change {
    background-image: url("https://agineuralnet.blob.core.windows.net/buttons/Button_C.png");
    background-size: cover;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
    left: 394px;
    filter: brightness(80%);
}

#btn-panel-change:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    transform: scale(.85);
    filter: brightness(100%);
}

.crud-page #btn-panel-delete {
    background-image: url("https://agineuralnet.blob.core.windows.net/buttons/Button_D.png");
    background-size: cover;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
    top: 810px;
    left: 650px;
    opacity: 100%;
    filter: brightness(80%);
}

#btn-panel-delete:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    transform: scale(.85);
    filter: brightness(100%);
}


.crud-page .Shadow {
    position: absolute;
    top: 120px;
    left: 1520px;
    width: 250px;
    height: 920px;
    background-color: grey background-size: cover;
    border-radius: 12px;
    opacity: 95%;
}

/* ************************************************************* CFG main shadow for LISTS ********* */
.crud-page .ShadowText {
    position: absolute;
    top: 320px;
    left: 304px;
    width: 850px;
    height: 700px;
    background-color: grey background-size: cover;
    border-radius: 12px;
    opacity: 95%;
}



/* CFG ***************************************************************** CHANGE ... Filter Select Commit ********************* */
/* CFG ***************************************************************** CHANGE ... Filter Select Commit ********************* */
/* CFG ***************************************************************** CHANGE ... Filter Select Commit ********************* */

/* CFG FILTER FOR CHANGE SELECT */
.crud-page .PypeTypeFilter {
    margin: 0;
    position: absolute;
    top: 60px;
    left: 24px;
    color: blanchedalmond;
    background-color: bisque border-radius: 12px;
    opacity: 55%;
    width: 160px;
    height: 200px;
    font-size: x-large;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

/* CFG Pype FOR CHANGE SELECT */
.crud-page .PypeType {
    margin: 0;
    position: absolute;
    top: 143px;
    left: 24px;
    color: blanchedalmond;
    background-color: bisque border-radius: 12px;
    opacity: 80%;
    width: 440px;
    font-size: x-large;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

/* ************************************************************************************** Commit CHANGE */
.crud-page .commitChange {
    position: absolute;
    top: 285px;
    left: 40px;
    width: 120px;
    height: 50px;
    background-image: url("https://agineuralnet.blob.core.windows.net/buttons/btn_commit_chg.png");
    background-size: cover;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
}

    .crud-page .commitChange:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.85);
    }

/* **************************** if statud = D ******************************************* Commit DELETE */
.crud-page .commitDelete {
    position: absolute;
    top: 285px;
    left: 40px;
    width: 120px;
    height: 50px;
    background-image: url("https://agineuralnet.blob.core.windows.net/buttons/btn_commit_del.png");
    background-size: cover;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
}

    .crud-page .commitDelete:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.85);
    }

/* ************************************************************************************** Commit CREATE */
.crud-page .commitCreate {
    position: absolute;
    top: 285px;
    left: 40px;
    width: 120px;
    height: 50px;
    background-image: url("https://agineuralnet.blob.core.windows.net/buttons/btn_commit_add.png");
    background-size: cover;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
}

    .crud-page .commitCreate:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.85);
    }


/* ************************************************************************* end of .crud-page ************ */
/* ************************************************************************* end of .crud-page ************ */
/* ************************************************************************* end of .crud-page ************ */

.crud-details button {
    padding: 0;
    margin: 0;
    width: 200px;
    height: 100px;
    text-align: center;
    top: 100px;
    color: black;
    background-color: pink;
    border-radius: 24px;
    position: absolute;
    left: 210px;
    opacity: 100%;
    transition-duration: .60s;
}

.crud-details .buttonA {
    background-image: url("https://intelchatstorage.blob.core.windows.net/buttonscontainer/btnArtifactA.png");
    background-size: cover;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
}

    .crud-details .buttonA:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.95);
    }


.crud-details jukebox {
    position: absolute;
    left: 90%;
    top: 95%;
    border-radius: 0px;
    opacity: 40%;
}

.crud-details boxCRUD {
    padding: 0;
    margin: 0;
    width: 1000px;
    height: 100px;
    text-align: right;
    top: 90px;
    left: 820px;
    color: #FF0000;
    position: absolute;
    opacity: 75%;
    background-image: url("Images/GUI/DC_GUI_user_Direction.png"); /*missing resource*/
    background-size: cover;
}


.crud-details boxbuttons {
    padding: 0;
    margin: 0;
    width: 900px;
    height: 240px;
    text-align: right;
    top: 75px;
    left: 630px;
    color: #FF0000;
    position: absolute;
    opacity: 100%;
    background-image: url("Images/GUI/DC_GUI_user_Question.png"); /*missing resource*/
    background-size: cover;
}



/*
************************************************************************ .engineer-page == > .role-menu
************************************************************************ .engineer-page == > .role-menu
************************************************************************ .engineer-page == > .role-menu
*/
.role-menu button {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 280px;
    height: 120px;
    text-align: center;
    top: 100px;
    color: black;
    background-color: pink;
    border-radius: 24px;
    position: absolute;
    left: 210px;
    opacity: 100%;
    border-radius: 8px;
    transition-duration: .60s;
}

.role-menu .buttonMenu01 {
    background-image: url("https://intelchatstorage.blob.core.windows.net/buttonscontainer/Btn_Luster_Noun.png");
    background-size: cover;
    margin: 10px;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
}

    .role-menu .buttonMenu01:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.85);
    }

.role-menu .buttonMenu02 {
    background-image: url("https://intelchatstorage.blob.core.windows.net/buttonscontainer/Btn_Luster_Verb.png");
    background-size: cover;
    margin: 10px;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
}

    .role-menu .buttonMenu02:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.85);
    }

.role-menu .buttonMenu03 {
    background-image: url("https://intelchatstorage.blob.core.windows.net/buttonscontainer/Btn_Luster_NOVA.png");
    background-size: cover;
    margin: 10px;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
}

    .role-menu .buttonMenu03:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.85);
    }


.role-menu .exhibitPanel {
    position: absolute;
    top: 370px;
    left: 500px;
    color: black;
    width: 540px;
    font-size: x-large;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.role-menu .exhibitInfo {
    position: absolute;
    top: 350px;
    left: 600px;
    color: blanchedalmond;
    width: 540px;
    height: 700px;
    font-size: x-large;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.role-menu .titlebanner {
    position: absolute;
    top: 50px;
    left: 660px;
    background-image: url("https://intelchatstorage.blob.core.windows.net/uipanelscontainer/UseCase_engr.png");
    padding: 0;
    margin: 0;
    color: black;
    border-radius: 24px;
}

.user-page button {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 280px;
    height: 120px;
    text-align: center;
    top: 100px;
    color: black;
    background-color: pink;
    border-radius: 24px;
    position: absolute;
    left: 210px;
    opacity: 100%;
    border-radius: 8px;
    transition-duration: .60s;
}

.user-page .buttonMenu01 {
    background-image: url("https://intelchatstorage.blob.core.windows.net/buttonscontainer/Btn_Luster_Goal.png");
    background-size: cover;
    margin: 10px;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
}

    .user-page .buttonMenu01:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.85);
    }

.user-page .buttonMenu02 {
    background-image: url("https://intelchatstorage.blob.core.windows.net/buttonscontainer/Btn_Luster_Task.png");
    background-size: cover;
    margin: 10px;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
}

    .user-page .buttonMenu02:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.85);
    }

.user-page .buttonMenu03 {
    background-image: url("https://intelchatstorage.blob.core.windows.net/buttonscontainer/Btn_Luster_NOVA.png");
    background-size: cover;
    margin: 10px;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
}

    .user-page .buttonMenu03:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        transform: scale(.85);
    }

.user-page .titlebanner {
    position: absolute;
    top: 50px;
    left: 660px;
    background-image: url("https://intelchatstorage.blob.core.windows.net/uipanelscontainer/UseCase_user.png");
    padding: 0;
    margin: 0;
    color: black;
    border-radius: 24px;
}

/*
    *********************************************************** .interview
    *********************************************************** .interview
    *********************************************************** .interview
*/
/*
    *********************************************************** .user-page
    *********************************************************** .user-page
    *********************************************************** .user-page

*/




.interview-page .response-button {
    background-color: transparent;
    color: transparent;
    width: 480px;
    height: 105px;
    outline: none;
    cursor: pointer;
}

    .interview-page .response-button::before {
        content: '';
        background-color: transparent;
        color: transparent;
    }

    .interview-page .response-button.selected, .response-button:hover {
        background-color: #ffffff
    }

.interview-page .severity-button {
    background-color: transparent;
    color: transparent;
    width: 545px;
    height: 75px;
    outline: none;
    cursor: pointer;
}

    .interview-page .severity-button::before {
        content: '';
        background-color: transparent;
        color: transparent;
    }

    .interview-page .severity-button.selected, .severity-button:hover {
        background-color: #ffffff
    }

.interview-page .menu-button {
    background-color: transparent;
    color: transparent;
    outline: none;
    cursor: pointer;
    width: 265px;
    height: 160px;
    top: 180px;
}

    .interview-page .menu-button:hover {
        background-color: #ffffff;
    }

.interview-page .boxdirection button {
    left: -37px;
}

.notification {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    position: fixed;
    z-index: 9999;
    width: 100%;
}

.notification-success {
    background-color: #4CAF50; /* Green */
    border-color: #46a049;
}

.notification-error {
    background-color: #f44336; /* Red */
    border-color: #d32f2f;
}

.notification-info {
    background-color: #2196F3; /* Blue */
    border-color: #0b7dda;
}

.getFile-button {
    position: absolute;
    width: 120px;
    height: 50px;
    background-image: url("https://intelchatstorage.blob.core.windows.net/buttonscontainer/btn_GetFile.png");
    background-size: cover;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
}

.upload-button {
    position: absolute;
    width: 120px;
    height: 50px;
    background-image: url("https://intelchatstorage.blob.core.windows.net/buttonscontainer/btn_Upload.png");
    background-size: cover;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
}

.general-menu-button {
    background: url("https://agineuralnet.blob.core.windows.net/background/Button_Menu.png") no-repeat;
    background-size: 100% 100%;
    font-size: 34px;
    filter: brightness(40%);
    font-family: serif;
    border: 0px;
}

.general-menu-button:hover {
    filter: brightness(100%);
}

.general-interview-button {
    background: url("https://intelchatstorage.blob.core.windows.net/buttonscontainer/interview-button.png") no-repeat;
    background-size: 100% 100%;
    color: #000000;
    filter: brightness(40%);
    font-size: 25px;
    font-family: serif;
    opacity: 100%;
    position: absolute;
    border: 0px;
}

.general-interview-button:hover {
    filter: brightness(100%);
}